{% extends 'base.html' %}

{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <a class="navbar-brand" href="#">{% block titleNav %}Index{% endblock %}</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <form action="{% url 'principal:home' %}" method ="get">
          <div class="input-group no-border">
            <input type="text" value="" name="search" id="search" class="form-control" placeholder="Search...">
            <div class="input-group-append">
              <div class="input-group-text">
                <button type="submit" class="button-transparent"><i class="now-ui-icons ui-1_zoom-bold"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header mb-4">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Fecha</th>
                <th>Ubicación</th>
                <th>Departamento</th>
                <th>Longitud</th>
                <th>Latitud</th>
                <th>Texto</th>
                <th>Imagen</th>
                <th>Created At</th>
              </tr>
            </thead>
            <tbody>
              {% for item in data %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ item.tweet_id }}</td>
                  <td>{{ item.nombre }}</td>
                  <td>{{ item.edad }}</td>
                  <td>{{ item.fecha }}</td>
                  <td>{{ item.ubicacion }}</td>
                  <td>{{ item.departamento }}</td>
                  <td>{{ item.longitud }}</td>
                  <td>{{ item.latitud }}</td>
                  <td>{{ item.texto_tweet }}</td>
                  <td>
                    <a href="{{ item.imagen_link }}" data-lightbox="{{ item.id }}">
                      <img src="{{ item.imagen_link }}" alt="" class="img-fluid img-thumbnail">
                    </a>
                  </td>
                  <td>{{ item.created_at }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block add_js %}

{% endblock add_js %}